*::first-letter {
    text-transform: uppercase;
}

* {
    font-family: "DM Sans", sans-serif;
}

body {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1200px;

    a {
        text-decoration: none;
        color: $black;
        display: block;
    }

    button {
        background-color: transparent;
        border: none;
    }
}