*::first-letter {
    text-transform: uppercase;
}

* {
    font-family: "DM Sans", sans-serif;
}

body {
    margin: 0 auto;
    box-sizing: border-box;

    a {
        text-decoration: none;
        color: $black;
        display: block;
    }

    button {
        background-color: transparent;
        border: none;
    }
}

@media screen and (min-width: 515px) {
    body {
        width: 30.9em;
        max-width: 30.9em;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 858px) {
    body {
        width: 48.5em;
        max-width: 48.5em;
    }
}



@media screen and (min-width: 1400px) {
    body {
        width: 75em;
        max-width: 75em;
    }
}