*::first-letter {
  text-transform: uppercase;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1200px;
}
body a {
  text-decoration: none;
  color: #000000;
  display: block;
}
body button {
  background-color: transparent;
  border: none;
}
body ul li {
  list-style: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
header img {
  height: 3em;
  width: 3em;
}
header h1 {
  color: #D04F4F;
  margin: 0;
}

nav #search_section {
  display: flex;
  flex-direction: row;
  margin-top: 1.5em;
  width: 100%;
  height: 3.5em;
  background-color: #E7E7E7;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.4em;
}
nav #search_section input {
  border: none;
  border-radius: 0.3em;
  font-size: 1em;
  gap: 0.5em;
  background-color: transparent;
  width: 90%;
}
nav #search_section input:focus {
  outline: none;
}
nav #search_section button {
  cursor: pointer;
  height: 2em;
}
nav #search_section button img {
  height: 2em;
  width: 2em;
}
nav #filter_section {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  gap: 1em;
  margin-left: 1em;
}
nav #filter_section .filters {
  display: none;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.25em;
}
@media only screen and (min-width: 992px) {
  nav #filter_section .filters {
    display: flex;
  }
}
nav #filter_section .filters_list {
  width: 10em;
  height: 4.3em;
  color: #FFFFFF;
  border: none;
  border-radius: 0.3em;
  position: relative;
}
nav #filter_section .filters_list div {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  padding: 0.8em;
}
nav #filter_section .filters_list div input {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
}
nav #filter_section .filters_list div input::-moz-placeholder {
  color: #FFFFFF;
}
nav #filter_section .filters_list div input:-ms-input-placeholder {
  color: #FFFFFF;
}
nav #filter_section .filters_list div input::placeholder {
  color: #FFFFFF;
}
nav #filter_section .filters_list div input:focus {
  outline: none;
}
nav #filter_section .filters_list div img {
  transition: 0.4s;
  height: 1em;
  width: 1em;
}
nav #filter_section .filters_list ul {
  display: none;
  text-align: start;
  padding: 1em 1em 1em 1em;
  margin: 0;
  row-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: auto;
  background-color: #3282F7;
  width: 0;
  height: 24.8em;
  position: absolute;
  top: 3.7em;
  left: 0;
  z-index: 1;
  border-radius: 0.5em;
}
nav #filter_section .filters_list ul li button {
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 1.12em;
  border-radius: 0.5em;
  cursor: pointer;
  padding: 0.2em;
}
nav #filter_section .filters_list ul li button:hover {
  background-color: rgb(96, 165, 255);
}
nav #filter_section .filters_list ul::-webkit-scrollbar {
  width: 7px;
  padding: 1px;
}
nav #filter_section .filters_list ul::-webkit-scrollbar-track {
  padding: 1px;
  background-color: #3282F7;
  border-radius: 0 0 0.5em 0;
}
nav #filter_section .filters_list ul::-webkit-scrollbar-thumb {
  background-color: rgb(0, 80, 172);
  border-radius: 4px;
}
nav #filter_section .filters #filter_ingredients {
  background-color: #3282F7;
}
nav #filter_section .filters #filter_devices {
  background-color: #68D9A4;
}
nav #filter_section .filters #filter_tools {
  background-color: #ED6454;
}

#cards_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 4em;
}
#cards_section article {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 22em;
  max-width: 23.75em;
}
#cards_section article .card_header {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #C7BEBE;
  border-radius: 0.4em 0.4em 0 0;
}
#cards_section article .card_header img {
  height: 10em;
  align-self: center;
  margin: 0 auto;
}
#cards_section article .card_footer {
  background-color: #E7E7E7;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 0.4em 0.4em;
  gap: 0.5em;
}
#cards_section article .card_footer_infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0.5em;
  gap: 1em;
  align-items: flex-start;
}
#cards_section article .card_footer_infos h2 {
  font-size: 1em;
  max-width: 70%;
  margin: 0;
}
#cards_section article .card_footer_infos p {
  font-weight: bold;
  font-size: 0.85em;
  margin: 0;
}
#cards_section article .card_footer_infos p::before {
  content: "";
  background-image: url(/assets/icons/clock.svg);
  background-size: cover;
  position: relative;
  display: inline-block;
  top: 0.15em;
  right: 0.4em;
  width: 1em;
  height: 1em;
}
#cards_section article .card_footer_recipe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1em;
  font-size: 12px;
  gap: 0.5em;
}
#cards_section article .card_footer_recipe_left {
  display: flex;
  flex-direction: column;
  width: 50%;
}
#cards_section article .card_footer_recipe_left p {
  font-weight: bold;
  margin: 0;
}
#cards_section article .card_footer_recipe_left p span {
  font-weight: lighter;
}
#cards_section article .card_footer_recipe_right {
  width: 50%;
}
#cards_section article .card_footer_recipe_right p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}/*# sourceMappingURL=main.css.map */