*::first-letter {
  text-transform: uppercase;
}

* {
  font-family: "DM Sans", sans-serif;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
}
body a {
  text-decoration: none;
  color: #000000;
  display: block;
}
body button {
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 515px) {
  body {
    width: 30.9em;
    max-width: 30.9em;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 858px) {
  body {
    width: 48.5em;
    max-width: 48.5em;
  }
}
@media screen and (min-width: 1400px) {
  body {
    width: 75em;
    max-width: 75em;
  }
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
header img {
  height: 3em;
  width: 3em;
}
header h1 {
  color: #D04F4F;
  margin: 0;
}

nav #search_section {
  margin-top: 1.5em;
  display: inline-block;
  width: 100%;
  position: relative;
}
nav #search_section input {
  width: 100%;
  border: none;
  background-color: #E7E7E7;
  border-radius: 0.3em;
  font-size: 1em;
  padding: 1em 3em 1em 1em;
  overflow: hidden;
}
nav #search_section button {
  position: absolute;
  right: 0em;
  top: 0em;
  padding: 0.8em;
  cursor: pointer;
  z-index: 0;
}
nav #search_section button img {
  height: 2em;
  width: 2em;
}
nav #filter_section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 1em;
}
nav #filter_section .filter_button {
  display: flex;
  width: 10em;
  border-radius: 0.3em;
  padding: 1.5em 1em;
  color: white;
  text-align: start;
  justify-content: space-between;
  transition: 0.4s;
}
nav #filter_section .filter_button:hover {
  width: 13em;
}
nav #filter_section .filter_button .svg {
  -webkit-mask: url(/assets/icons/v.svg) center center/100% 100%;
          mask: url(/assets/icons/v.svg) center center/100% 100%;
  background-color: #FFFFFF;
  transition: 0.4s;
  height: 1em;
  width: 1em;
}
nav #filter_section .filter_button:hover .svg {
  transform: rotate(180deg);
}
nav #filter_section #filter_ingredients {
  background-color: #3282F7;
}
nav #filter_section #filter_devices {
  background-color: #68D9A4;
  margin-left: 1.25em;
}
nav #filter_section #filter_tools {
  background-color: #ED6454;
  margin-left: 1.25em;
}

#cards_section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4em;
  margin-top: 4em;
}
#cards_section article {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 22em;
}
#cards_section article .card_header {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #C7BEBE;
}
#cards_section article .card_header img {
  height: 10em;
  align-self: center;
  margin: 0 auto;
}
#cards_section article .card_footer {
  background-color: #E7E7E7;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#cards_section article .card_footer_infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#cards_section article .card_footer_infos h2 {
  font-size: 1em;
}
#cards_section article .card_footer_infos p {
  font-weight: bold;
}
#cards_section article .card_footer_infos p::before {
  content: "";
  background-image: url(/assets/icons/clock.svg);
  background-size: cover;
  position: relative;
  display: inline-block;
  top: 0.15em;
  right: 0.4em;
  width: 1em;
  height: 1em;
}

@media screen and (min-width: 400px) {
  #cards_section article {
    width: 23.75em;
    margin: 0 auto;
  }
}
@media screen and (min-width: 515px) {
  #search_section input {
    width: 26.9em !important;
    padding: 1em 3em 1em 1em !important;
  }
}
@media screen and (min-width: 858px) {
  #cards_section {
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
    margin-left: auto;
    margin-right: auto;
  }
  #cards_section article {
    width: 100%;
  }

  #search_section input {
    width: 44.5em !important;
  }
}
@media screen and (min-width: 1400px) {
  #cards_section {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #search_section input {
    width: 71em !important;
  }
}/*# sourceMappingURL=main.css.map */