//HEADER
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;

    .svg {
        mask: url(/assets/icons/hat.svg) center center / 100% 100%;
        background-color: $primary-color;
        height: 3em;
        width: 3em;
    }

    h1 {
        color: $primary-color;
        font-size: 2em;
        margin: 0;
    }
}

// header {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     margin-top: 2em;

//     h1 {
//         color: $primary-color;
//         margin: 0;
//     }
// }

//NAV
nav {

    #search_section {
        position: relative;
        margin-top: 1.5em;

        input {
            width: 67.2em;
            border: none;
            background-color: $lightgrey;
            border-radius: 0.3em;
            font-size: 1em;
            padding: 1em 3em 1em 1em;
        }

        button {
            mask: url(/assets/icons/magnifyingglass.svg) center center / 100% 100%;
            background-color: $black;
            height: 1.8em;
            width: 1.8em;
            position: absolute;
            right: 1em;
            top: 0.8em;
            padding: 0.8em;
            cursor: pointer;
        }
    }

    #filter_section {
        display: flex;
        flex-direction: row;
        margin-top: 1em;

        .filter_button {
            display: flex;
            width: 10em;
            border-radius: 0.3em;
            padding: 1.5em 1em;
            color: white;
            text-align: start;
            justify-content: space-between;
            transition: 0.4s;

            &:hover {
                width: 13em;
            }

            .svg {
                mask: url(/assets/icons/v.svg) center center / 100% 100%;
                background-color: $white;
                transition: 0.4s;
                height: 1em;
                width: 1em;
            }

            &:hover .svg {
                transform: rotate(180deg);
            }

        }

        #filter_ingredients {
            background-color: $blue;
        }

        #filter_devices {
            background-color: $green;
            margin-left: 1.25em;
        }

        #filter_tools {
            background-color: $red;
            margin-left: 1.25em;
        }
    }
}

//CARDS SECTION
#cards_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4em;
    margin-top: 4em;

    article {
        display: flex;
        flex-direction: column;
        height: 22em;


        .card_header {
            width: 100%;
            height: 100%;
            background-color: $grey;
        }

        .card_footer {
            background-color: $lightgrey;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            &_infos {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;

                h2 {
                    font-size: 1em;
                }

                p {
                    font-weight: bold;
                }

                p::before {
                    content: "";
                    background-image: url(/assets/icons/clock.svg);
                    background-size: cover;
                    position: relative;
                    display: inline-block;
                    top: 0.15em;
                    right: 0.4em;
                    width: 1em;
                    height: 1em;
                }
            }
        }
    }
}