//HEADER

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;

    img {
        height: 3em;
        width: 3em;
    }

    h1 {
        color: $primary-color;
        margin: 0;
    }
}

//NAV

nav {

    #search_section {
        display: flex;
        flex-direction: row;
        margin-top: 1.5em;
        width: 100%;
        height: 3.5em;
        background-color: $lightgrey;
        justify-content: space-around;
        align-items: center;
        border-radius: 0.4em;

        input {
            border: none;
            border-radius: 0.3em;
            font-size: 1em;
            gap: 0.5em;
            background-color: transparent;
            width: 90%;

            &:focus {
                outline: none;
            }
        }

        button {
            cursor: pointer;
            height: 2em;

            img {
                height: 2em;
                width: 2em;
            }
        }
    }

    #filter_section {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        gap: 1em;
        margin-left: 1em;

        .filter_list {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start;
            gap: 1.25em;

            &_button {
                display: flex;
                flex-direction: row;
                width: 10em;
                height: 4.3em;
                border-radius: 0.3em;
                color: $white;
                transition: 0.4s;
                border: none;
                gap: 0.5em;
                align-items: center;
                padding: 0.8em;

                input {
                    background-color: transparent;
                    border: none;
                    width: 100%;
                    height: 100%;
                    color: $white;

                    &::placeholder {
                        color: $white;
                    }

                    &:focus {
                        outline: none;
                    }
                }

                img {
                    transition: 0.4s;
                    height: 1em;
                    width: 1em;
                }

            }

            #filter_ingredients {
                background-color: $blue;
            }

            #filter_devices {
                background-color: $green;
            }

            #filter_tools {
                background-color: $red;
            }
        }
    }
}

//CARDS SECTION

#cards_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 4em;

    article {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 22em;
        max-width: 23.75em;


        .card_header {
            display: flex;
            width: 100%;
            height: 100%;
            background-color: $grey;
            border-radius: 0.4em 0.4em 0 0;

            img {
                height: 10em;
                align-self: center;
                margin: 0 auto;
            }
        }

        .card_footer {
            background-color: $lightgrey;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 0 0 0.4em 0.4em;
            gap: 0.5em;

            &_infos {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 1em 0.5em;
                gap: 1em;
                align-items: flex-start;

                h2 {
                    font-size: 1em;
                    max-width: 70%;
                    margin: 0;
                }

                p {
                    font-weight: bold;
                    font-size: 0.85em;
                    margin: 0;
                }

                p::before {
                    content: "";
                    background-image: url(/assets/icons/clock.svg);
                    background-size: cover;
                    position: relative;
                    display: inline-block;
                    top: 0.15em;
                    right: 0.4em;
                    width: 1em;
                    height: 1em;
                }
            }

            &_recipe {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0 1em;
                font-size: 12px;
                gap: 0.5em;

                &_left {
                    display: flex;
                    flex-direction: column;
                    width: 50%;

                    p {
                        font-weight: bold;
                        margin: 0;

                        span {
                            font-weight: lighter;
                        }
                    }
                }

                &_right {
                    width: 50%;

                    p {
                        margin: 0;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 6;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
    }
}